/* 
** Agregando estilos: **

1. Posicionamiento --> static, absolute, relative, fixed
3. Modelo de caja (Box model) --> margin, border, padding, content
4. Tipografía --> tipos, tamaños de fuente, etc
5. Estilos visuales --> box-shadow, border-radius, gradient, etc
6. Otros --> reglas CSS y más
*/

/* Colores */
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente */
html {
    font-size: 6.25%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 16rem;
}

/* Header Section */

.header {
    position: relative;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
    height: 60vh;
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header__logo {
    width: 200rem;
    margin-bottom: 36rem;
}

.header__title {
    text-align: center;
    color: var(--just-white);
    font-size: 24rem;
    line-height: 26rem;
    margin-bottom: 24rem;
}

.header__text {
    color: var(--soft-orange);
    text-align: center;
    font-size: 14rem;
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.btn {
    text-align: center;
    color: var(--warm-black);
    font-size: 14rem;
    line-height: 18rem;
    padding: 15rem 16rem;
    background: var(--off-white);
    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4rem;
    cursor: pointer;
}

.btn__img {
    vertical-align: middle;
    margin-left: 14rem;
}

/* Coins Section */

/* .main {
    width: 100vw;
} */

.coins {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #faf8f7;
    width: 100%;
}

.coins-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 60rem;
}

.coins__img {
    margin-bottom: 40rem;
}

.coins__title {
    text-align: center;
    color: var(--warm-black);
    font-size: 24rem;
    line-height: 26rem;
    margin-bottom: 24rem;
}

.coins__text {
    color: #757575;
    text-align: center;
    font-size: 14rem;
    line-height: 18rem;
    font-weight: 500;
}

.table-container {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 60rem 0;
}

.table-container__title {
    color: #ff9536;
    font-weight: 700;
    margin-left: -120rem;
}

.table-coins {
    min-width: 230px;
    max-width: 300px;
    margin: 15rem 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Inter', sans-serif;
}

.table-coins .left-cell {
    background: var(--just-white);
    border: 1px solid #faf8f7;
    border-top: none;
    border-left: none;
    padding: 10px 12px;
    color: #b5b0ac;
    font-weight: 500;
    line-height: 19rem;
    letter-spacing: -0.2rem;
}

.table-coins .rigth-cell {
    background: var(--just-white);
    border-bottom: 1px solid #faf8f7;
    color: #757575;
    font-size: 14rem;
    font-weight: 400;
    line-height: 17rem;
    padding: 10px 12px;
    text-align: center;
}

.table-coins .top-left-cell {
    border-top-left-radius: 8rem;
}

.table-coins .top-rigth-cell {
    border-top-right-radius: 8rem;
}

.table-coins .bottom-left-cel {
    border-bottom-left-radius: 8rem;
    border-bottom: none;
}

.table-coins .bottom-rigth-cel {
    border-bottom-right-radius: 8rem;
    border-bottom: none;
}

.table-coins .rigth-cell .trending-icon {
    vertical-align: middle;
    margin-left: 5rem;
}

.table-container__text {
    display: inline-block;
    background: var(--soft-orange);
    border-radius: 8rem;
    font-family: 'Inter', sans-serif;
    padding: 8rem;
    text-align: center;
}

.table-container__text .updated {
    font-weight: bold;
}

.table-container__title--blue {
    color: var(--secondary-blue);
}

.table-container__text--blue {
    background: var(--soft-blue);
}

/* Benefits Section */

.benefits {
    position: relative;
    background: #201e1c;
}

.benefits__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefits__title {
    color: var(--just-white);
    line-height: 26rem;
    text-align: center;
    padding-top: 60rem;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 24rem;
}

.benefits__text {
    color: #808080;
    line-height: 18rem;
    font-size: 14rem;
    font-weight: 500;
    text-align: center;
}

.cards-container {
    width: 90%;
    margin: 0 auto;
    padding: 30rem 0 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 16rem;
}

.card {
    background: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4rem;
    padding: 16rem;
}

.card__title {
    color: var(--just-white);
    font-size: 18rem;
    padding: 10rem 0;
}

.card__text {
    color: #808080;
    font-size: 14rem;
    line-height: 18rem;
}
