.tables {
  min-width: 50rem;
  flex-direction: row;
  column-gap: 4rem;
}

.tables .arrows-container {
  display: none;
}

.tables #commissions-table {
  display: flex;
}

.table-container__title {
  margin-left: 2rem;
}

.cards-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.6rem;
}

.plans__slider {
  justify-content: center;
  overflow-x: hidden;
}
