.tables {
  flex-direction: row;
  column-gap: 4rem;
}

.cards-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.6rem;
}

.plans__slider {
  justify-content: center;
  overflow-x: hidden;
}
